## Scraping by HTML from Miflasim Web-Page

In [1]:
from bs4 import BeautifulSoup
import pandas as pd
import requests
import time
from datetime import date, timedelta

In [2]:
Kineret_levels_df = pd.DataFrame(columns=['Survey_Date','Kinneret_Level']) # Create Dataframe with 2 columns.

In [7]:
start_date = date(1969, 1, 1)
end_date = date(2021, 4, 1)
delta = timedelta(days=1) # for adding 1 day every running
i=0

datetime.timedelta(days=1)

In [88]:
while start_date <= end_date:
    url ="http://kineret.org.il/miflasim/?singledate=+"+str(start_date)+"&submit=+%D7%94%D7%A6%D7%92+%D7%90%D7%AA+%D7%94%D7%9E%D7%A4%D7%9C%D7%A1+#singledate"
    response1 = requests.get(url)
    while respone1.status_code != 200:
        print(f'[{response.status_code}]Something is wrong on {n_page}, restarting in 60 seconds...')
        time.sleep(60)
        response1 = requests.get(url)
    page_html = BeautifulSoup(response1.content,"html.parser") # Response the Page html content
    miflas_height=page_html.find("span",attrs={"class":"hp_miflas_height"}) # Response the kineret miflas height
    Kineret_levels_df = Kineret_levels_df.append({'Survey_Date': str(start_date),'Kinneret_Level': miflas_height.text}, ignore_index=True) # adding the value to the dataframe
    start_date += delta # adding 1 day
    i=i+1
    if(i>365): # saving the data in the CSV every 365 days
        i=0
        Kineret_levels_df.to_csv('Kineret_levels_Scrapping.csv', index=False)

In [89]:
Kineret_levels_df.to_csv('Kineret_levels_Scrapping.csv', index=False)

In [92]:
Kineret_levels_df.head()

  Survey_Date Kinneret_Level
0  1969-01-01        -209.17
1  1969-01-02        -209.21
2  1969-01-03        -209.22
3  1969-01-04        -209.25
4  1969-01-05        -209.27

In [93]:
Kineret_levels_df.tail()

      Survey_Date Kinneret_Level
19109  2021-04-27       -209.135
19110  2021-04-28       -209.145
19111  2021-04-29        -209.14
19112  2021-04-30       -209.145
19113  2021-05-01        -209.15

In [72]:
Kineret_levels_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3989 entries, 0 to 3988
Data columns (total 2 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Survey_Date     3989 non-null   object
 1   Kinneret_Level  3989 non-null   object
dtypes: object(2)
memory usage: 62.5+ KB

## Scraping by API from Data.gov Web-Page

In [37]:
import requests as req
import json
import time

def send_call_to_api(n_page):
    """
    The function gets a number of a page, and creates a link, to which we send a request
    if the status code is 200, we return the response as a json.
    
    if we dont get a good response, we send the request again, after 60 seconds.
    """
    url = f'https://data.gov.il/api/3/action/datastore_search?resource_id=cee3ad4a-4e77-4015-8245-52505417d7ea&offset={n_page}'  
    response = req.get(url)
    if response.status_code == 200:
        return json.loads(response.content)
    else:
        print(f'[{response.status_code}]Something is wrong on {n_page}, restarting in 60 seconds...')
        time.sleep(60)
        return send_call_to_api(n_page)
    
def load_json_database(file_path):
    data = pd.read_json(file_path)
    data.to_csv('data_as_csv.csv')
    

def save_data(data, json_name):
    # Loads previous database file
    with open(json_name,'r') as data_json:
         json_data = json.load(data_json)
    
    # adds the new data to the existing file.
    with open(json_name,'w') as new_update:
        json.dump(data,new_update,indent=4)
    return len(json_data)

# This will scrape the data, and save it in database.json
database = []
max_number = 1447400 # Total data items
start_number = 0
done = 0 # The amount of the pages we aleady done crawling
# max_number = 300
for page_num in range(start_number,max_number,100):
    done =+ page_num # adding the number of the current page.
    data_from_requests = send_call_to_api(page_num)['result']['records']
    for record in data_from_requests:
        database.append(record)
    if (done % 10000) == 0: # after each time we get the a number of a page which devides by 10000, we save the data.
        print(f'Done: {done}/{max_number}') # Printing to the console how much we have done
        save_data(database,'database.json') # Saving the data into the json file.
        
print('Scraping has ended')
load_json_database('database.json')
print('data saving has ended')

Done: 0/1447400
[503]Something is wrong on 10000, restarting in 60 seconds...
Done: 10000/1447400
[503]Something is wrong on 20000, restarting in 60 seconds...
Done: 20000/1447400
[503]Something is wrong on 30000, restarting in 60 seconds...
Done: 30000/1447400
[503]Something is wrong on 40000, restarting in 60 seconds...
Done: 40000/1447400
[503]Something is wrong on 50000, restarting in 60 seconds...
Done: 50000/1447400
[503]Something is wrong on 60000, restarting in 60 seconds...
Done: 60000/1447400
[503]Something is wrong on 70000, restarting in 60 seconds...
Done: 70000/1447400
[503]Something is wrong on 80000, restarting in 60 seconds...
Done: 80000/1447400
[503]Something is wrong on 90000, restarting in 60 seconds...
Done: 90000/1447400
[503]Something is wrong on 100000, restarting in 60 seconds...
Done: 100000/1447400
Done: 110000/1447400
Done: 120000/1447400
Done: 130000/1447400
Done: 140000/1447400
Done: 150000/1447400
Done: 160000/1447400
Done: 170000/1447400
Done: 180000/1447400
Done: 190000/1447400
Done: 200000/1447400
Done: 210000/1447400
Done: 220000/1447400
Done: 230000/1447400
Done: 240000/1447400
Done: 250000/1447400
Done: 260000/1447400
Done: 270000/1447400
Done: 280000/1447400
Done: 290000/1447400
Done: 300000/1447400
Done: 310000/1447400
Done: 320000/1447400
Done: 330000/1447400
Done: 340000/1447400
Done: 350000/1447400
Done: 360000/1447400
Done: 370000/1447400
Done: 380000/1447400
Done: 390000/1447400
Done: 400000/1447400
Done: 410000/1447400
Done: 420000/1447400
Done: 430000/1447400
Done: 440000/1447400
Done: 450000/1447400
Done: 460000/1447400
Done: 470000/1447400
Done: 480000/1447400
Done: 490000/1447400
Done: 500000/1447400
Done: 510000/1447400
Done: 520000/1447400
Done: 530000/1447400
Done: 540000/1447400
Done: 550000/1447400
Done: 560000/1447400
Done: 570000/1447400
Done: 580000/1447400
Done: 590000/1447400
Done: 600000/1447400
Done: 610000/1447400
Done: 620000/1447400
Done: 630000/1447400
Done: 640000/1447400
Done: 650000/1447400
Done: 660000/1447400
Done: 670000/1447400
Done: 680000/1447400
Done: 690000/1447400
Done: 700000/1447400
Done: 710000/1447400
Done: 720000/1447400
Done: 730000/1447400
Done: 740000/1447400
Done: 750000/1447400
Done: 760000/1447400
Done: 770000/1447400
Done: 780000/1447400
Done: 790000/1447400
Done: 800000/1447400
Done: 810000/1447400
Done: 820000/1447400
Done: 830000/1447400
Done: 840000/1447400
Done: 850000/1447400
Done: 860000/1447400
Done: 870000/1447400
Done: 880000/1447400
Done: 890000/1447400
Done: 900000/1447400
Done: 910000/1447400
Done: 920000/1447400
Done: 930000/1447400
Done: 940000/1447400
Done: 950000/1447400
Done: 960000/1447400
Done: 970000/1447400
Done: 980000/1447400
Done: 990000/1447400
Done: 1000000/1447400
Done: 1010000/1447400
Done: 1020000/1447400
Done: 1030000/1447400
Done: 1040000/1447400
Done: 1050000/1447400
Done: 1060000/1447400
Done: 1070000/1447400
Done: 1080000/1447400
Done: 1090000/1447400
Done: 1100000/1447400
Done: 1110000/1447400
Done: 1120000/1447400
Done: 1130000/1447400
Done: 1140000/1447400
Done: 1150000/1447400
Done: 1160000/1447400
Done: 1170000/1447400
Done: 1180000/1447400
Done: 1190000/1447400
Done: 1200000/1447400
Done: 1210000/1447400
Done: 1220000/1447400
Done: 1230000/1447400
Done: 1240000/1447400
Done: 1250000/1447400
Done: 1260000/1447400
Done: 1270000/1447400
Done: 1280000/1447400
Done: 1290000/1447400
Done: 1300000/1447400
Done: 1310000/1447400
Done: 1320000/1447400
Done: 1330000/1447400
Done: 1340000/1447400
Done: 1350000/1447400
Done: 1360000/1447400
Done: 1370000/1447400
Done: 1380000/1447400
Done: 1390000/1447400
Done: 1400000/1447400
Done: 1410000/1447400
Done: 1420000/1447400
Done: 1430000/1447400
Done: 1440000/1447400
Scraping has ended
data saving has ended

In [94]:
daily_Data_df = pd.read_csv("data_as_csv.csv")

In [95]:
daily_Data_df.head()

,Unnamed: 0,_id,stn_num,time_obs,tmp_air_max,tmp_air_min,tmp_grass_min,evp_cls_a_12,evp_cls_a_18,evp_cls_a_06_next,...,rpr_hail,rpr_snow,rpr_frost,rpr_dew,rpr_fog,rpr_mist,rpr_thunder,rpr_lightening,rpr_sand_storm,rpr_gale
0,0,1,9029,1978-04-01T00:00:00,232.0,97.0,70.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2,9029,1978-04-02T00:00:00,260.0,92.0,60.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,3,9029,1978-04-03T00:00:00,242.0,138.0,105.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,4,9029,1978-04-04T00:00:00,306.0,100.0,65.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,5,9029,1978-04-05T00:00:00,245.0,160.0,148.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN